<% title "JumpStart Georgia's Lari Exchange Rate Viewer" %>

<p>
  <%= label_tag :currency, 'Currency' %>
  <%= select_tag :currency, options_for_select(@currencies.map{|x| [x, x] }, 
        params[:currency]), include_blank: false,
        :'data-url' => root_path %>
</p>

<!-- <div id="chart" style="width: 100%; height: 500px;"></div> -->

<div id="stock" style="width: 100%; height: 500px;"></div>