<html>
<head>
  <title>Share Test</title>

</head>
<body>
<%
  require 'uri'
  url1 = "#{story1_url}"
  url2 = "#{story2_url}"
%>

<div class="fb-share-button" data-href='<%= url1 %>' data-layout="button_count" data-size="small" data-mobile-iframe="true">
  <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.decode(url1) %>">Share</a>
</div>
<div class="fb-share-button" data-href='<%= url2 %>' data-layout="button_count" data-size="small" data-mobile-iframe="true">
  <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.decode(url2) %>">Share</a>
</div>
  Share button should be above

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=570138349825593";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>


<!-- https://www.facebook.com/sharer/sharer.php?app_id=570138349825593&sdk=joey&u=http://dev-pin.jumpstart.ge/en/share?return_url=https%3A%2F%2Fdev-xrates.jumpstart.ge%2Fka%2Fshare_test&params%5B0%5D=123&params%5B1%5D=abc&display=popup&ref=plugin&src=share_button -->
