<%
def full_image_path(img_path)
    request.protocol + request.host_with_port + image_path(img_path)
end
%>

<html>
<head>
  <title>Share test title</title>
      <meta charset="utf-8">
      <meta property="og:title" content="Share test title" />
      <meta property="og:site_name" content="Site Name" />
      <meta property="og:image" content="<%= full_image_path('fb_en.jpg') %>" />
      <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur." />
      <meta property="og:url" content="<%= shareview_url %>" />
      <meta property="og:type"   content="website" />
</head>
<body>
<%
  require 'uri'
  url = "http://dev-pin.jumpstart.ge/en/share?return_url=#{share_test_url}&params[]=123&params[]=abc"
%>

<div class="fb-share-button" data-href='' data-layout="button_count" data-size="small" data-mobile-iframe="true">
  <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=">Share</a>
</div>

  Share button should be above

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=570138349825593";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>


<!-- https://www.facebook.com/sharer/sharer.php?app_id=570138349825593&sdk=joey&u=http://dev-pin.jumpstart.ge/en/share?return_url=https%3A%2F%2Fdev-xrates.jumpstart.ge%2Fka%2Fshare_test&params%5B0%5D=123&params%5B1%5D=abc&display=popup&ref=plugin&src=share_button -->
