<%
def full_image_path(img_path)
    request.protocol + request.host_with_port + image_path(img_path)
end
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
   <head>
      <title>Share test title 2</title>
      <meta charset="utf-8">
      <meta property="og:title" content="Share test title 2" />
      <meta property="og:site_name" content="Site Name2" />
      <meta property="og:image" content="<%= full_image_path('fb_en.jpg') %>" />
      <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur. 2" />
      <meta property="og:type"   content="website" />
      <%= favicon_link_tag '/favicon.png', :rel => 'shortcut icon' %>
   </head>
   <body>
    123124123 42432 324534125 345 2345 324532 534 53425 3425 34253 2345
   </body>
</html>
