<%
def full_image_path(img_path)
    request.protocol + request.host_with_port + image_path(img_path)
end
%>

<html>
  <head>
    <title>Share test title 2</title>
        <meta charset="utf-8">
        <meta property="og:title" content="Share test title2" />
        <meta property="og:site_name" content="Site Name2" />
        <meta property="og:image" content="<%= full_image_path('fb_en.jpg') %>" />
        <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur.2" />
        <meta property="og:type"   content="website" />
  </head>
  <body>
  <script>window.location.href = '<%= share_test_path %>';</script>
  </body>
</html>
