<html>
  <head>
    <title>Share test title</title>
        <meta charset="utf-8">
        <meta property="og:title" content="Share test title" />
        <meta property="og:site_name" content="Site Name" />
        <meta property="og:image" content="<%= full_image_path('fb_en.jpg') %>" />
        <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur." />
        <meta property="og:type"   content="website" />
  </head>
  <body>
  <script>window.location.href = '<%= share_test_path %>';</script>
  </body>
</html>
