.row {
  .col-left{
    display:table-cell;
    vertical-align:top;
    border-right:1px solid #d7e0e7;
  }
  .col-right{
    min-width:300px;
    display:table-header-group;
    vertical-align:top;
  }
}
.api, .tinymce_format, .mce-content-body {
  margin:0px 0px 0px 0px;
  padding-bottom:20px;
  display:table;
  border-collapse: separate;
  border-spacing:10px 0px;
  font-family:'dejavusans';
  font-size:16px;
  color:#7b8483;  
  &:lang(en)
  {
     font-family: 'oxygen';
  }   
  p
  {
    font-family:'dejavusans';
    font-size:16px;
    color:#7b8483;
    line-height:23px;
    margin:5px 0px;
    padding:0px;
    &:lang(en)
    {
       font-family: 'oxygen';
    }    
  }
  h2{
    font-family:'dejavusans-b';
    font-size: 17px;
    color: #515151;
    &:lang(en)
    {
      font-family: 'oxygen-b';
    }          
  }
  h3{
    font-family:'dejavusans-b';
    font-size: 15px;
    color: #515151;
    &:lang(en)
    {
      font-family: 'oxygen-b';
    }     
  }
  .url
  { 
    border:1px solid #c1c8ce;
    background-color: #fff;
    padding: 10px 20px;
    margin: 10px 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family:oxygen;
    font-size:16px;
    color:#5f5f5f;
    word-break: break-word;
    a
    {
      font-family:oxygen;
      font-size:16px;
      color:#5f5f5f;
      text-decoration:none;
      word-break: break-word;
      &:hover{ text-decoration:underline;}
    }
  }
  ul.list-unstyled {
    padding:0px 0px 0px 0.5em;
    margin:0px;
    li {
      font-family:'dejavusans';
      font-size: 16px;
      color:#848484;
      list-style: none;
      line-height: 24px;
      &:lang(en)
      {
         font-family: 'oxygen';
      }        
    }
  }
  .version-links{
    h3{
      span{
        font-size: 13px;
        font-style: italic;
        padding-left: 10px;
      }
    }
    ul{
      list-style: none;
      padding-left: 0.25em;
      margin:-10px 0 0;
      li { 
        list-style: none;
        padding-left: 2em; 
        text-indent: -.7em;
        line-height: 1;

        &:before {
          content: "\2022";
          color: #f88600;
          font-size: 1.5em;
          line-height: 1em;
          padding-right: .25em;
          position: relative;
          top: .15em;
        }
      }
    }    
    a{
      font-family:'dejavusans';
      font-size: 15px;
      color:#f88600;
      text-decoration:none;
      &:lang(en)
      {
         font-family: 'oxygen';
      }      
    }
  }
  .documentation-links{
    .box
    {
      background-color: #f1f3f3;      
      padding:20px;
    }
    h2.title
    {
      padding: 0px 30px 4px 0px;
      border-bottom: 1px solid #b8c0c6;
      display: inline-block;
      margin:0px 0px 10px 0px;
    }
    h2 a{
      color: #898989;
      font-family:oxygen;
      font-size:17px;
      text-decoration:underline;
    }
    a{
      color: #898989;
      font-family:oxygen;
      font-size:15px;
      text-decoration:none;
    }
     li:before {
          content: "\2022";
          color: #f88600;
          font-size: 1.5em;
          line-height: 1em;
          padding-right: .25em;
          position: relative;
          top: .15em;
        }
  }
  #api-dates{
    margin-bottom: 10px;
    text-align:left;
    span{
      padding: 13px 13px;
      color: #7b8483;
      font-family:'dejavusans';
      font-size:12px;
      font-style:italic;
      line-height:22px;
      &:lang(en)
      {
         font-family: 'oxygen';
      }         
    }
  }

  table.table{
    margin: 0;
    border-collapse:collapse;    
    overflow-x: auto;
    th, td {
      background-color: #fff;
      padding: 5px;
      border:1px solid #c1c8ce;
      color: #5f5f5f;
      font-family:'dejavusans';
      font-size:14px;
      line-height:22px;
      vertical-align:top;
      &:lang(en)
      {
         font-family: 'oxygen';
      }        
      a
      {
        text-decoration:underline;
        color: #5f5f5f;
        font-family:'dejavusans';
        font-size:14px;
        &:lang(en)
        {
           font-family: 'oxygen';
        }            
      }
    }
    thead th{
      color: #5f5f5f;
      font-family:'dejavusans-b';
      font-size:15px;
      text-align:left;
      &:lang(en)
      {
        font-family: 'oxygen-b';
      }         
    }
    tbody tr td:first-of-type{
      color: #5f5f5f;
      font-family:'dejavusans-b';
      font-size:14px;
      &:lang(en)
      {
        font-family: 'oxygen-b';
      }         
    }
  }
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #7b8483 !important;
}
.syntaxhighlighter table td.gutter .line {
  padding: 0 3px 0 0 !important;
}
.syntaxhighlighter table td.code .line {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}
@media screen and (max-width: 680px) {
  .syntaxhighlighter .gutter {
    display:none;
  }
  .syntaxhighlighter table td.code .line {
    padding: 0 !important;
  }
}
@media (min-width: 768px) { 
  .row {
    .col-left{
      display:table-cell;
      vertical-align:top;
      border-right:1px solid #d7e0e7;
    }
    .col-right{
      min-width:300px;
      display:table-cell;
      vertical-align:top;
    }
  }
   table.table{
    th, td {
      padding:13px 23px;
    }
  }
  
}