body,html
{
   margin:0;
   padding:0;
   height:100%;
}
body > .wrapper
{
   height:100%;
    > div
   {
      margin:0px auto;
      max-width:1024px;
   }
}
.header
{
   position:relative;
   width:100%;
   z-index:1;
   padding-top:80px;
   > div
   {
      display:inline-block;
   }
   .logo
   {
      width:393px;
      height:64px;
      background:url(/assets/svg/logo.svg) center center no-repeat;
   }
   .lang-switch
   {
     position: absolute;
     right: 0px;
     bottom: 30px;
   }
   .lang-switch a
   {
      text-decoration:none;
   }
   .lang-switch a:lang(ka)
   {
      font-family:'dejavusans-c';
      font-size:16px;
      color:#bcbcbc;
   }
   .lang-switch a:lang(en)
   {
      font-family:'oxygen';
      font-size:16px;
      color:#bcbcbc;
   }
   .lang-switch a:hover,
   .lang-switch a:focus,
   .lang-switch a:active,
   {
      text-decoration:none;
   }
}
.line
{
   max-width:100% !important;
   width:100% !important;
   margin:0px;
   padding:0px;
   height:1px;
   background-color:#c9cfd5;
}
.sub-line
      {
         max-width:100% !important;
         width:100% !important;
         margin:0px;
         padding:0px;
         height:11px;
         background-color:#f1f2f2;
      }
.content-box
{
    position:relative;
    top:-149px;
     min-height:100%;
     width:100%;
     z-index:0;

  .content{
      position: relative;        
      padding: 149px 0px 65px;
.box
{
      background-color:#fafbfb;
      position:relative;
   }
   .tabs
   {
      position:absolute;
      top:-1px;
      right:0px;
      text-align: right;
      padding-right: 40px;
     .tab
      {
         position:relative;
         padding: 9px 21px;
         background-color:#fff;
         font-family: 'ge-oxygen';
         font-size:16px;
         color:#7b8483;
         display:inline-block;
         border:1px solid #c9cfd5;
         -webkit-border-bottom-right-radius: 2px;
         -webkit-border-bottom-left-radius: 2px;
         -moz-border-radius-bottomright: 2px;
         -moz-border-radius-bottomleft: 2px;
         border-bottom-right-radius: 2px;
         border-bottom-left-radius: 2px;
      }
      .tab:lang(en)
      {
         font-family: 'oxygen';
         font-size:16px;
      }
      .tab.active,
      .tab:hover
      {
         color:#fff;
         background-color:#f6ba29;
         border:1px solid #f6ba29;
         cursor:pointer;
      }
      .tab.active:after,
      .tab:hover:after
      {
         content:'';
         background:transparent url('/assets/svg/down_arrow2.svg') center bottom no-repeat;
         background-size:12px 10px;
         width:12px;
         height:10px;
         position:absolute;
         bottom: -10px;
         left: 50%;
         -webkit-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
         transform: translateX(-50%);
      }
   }
   .page
   {
      display:none;
      background-color:#fafbfb;
      &.active
      {
         display:inline-block;
      }
      .intro
      {
         font-family: 'ge-oxygen';
         font-size:16px;
         color:#7b8483;
         width:60%;
         padding:10px 0px 20px 60px;
      }
      .intro:lang(en)
      {
         font-family: 'oxygen';
         font-size:16px;
      }
   
      .calculator
      {
         margin-bottom:30px;
         >div
         {
            display:table-cell;
            vertical-align: top;
         }
         .block.calc
         {
            width:600px;
            border-right: 1px solid #d7e0e7;
            padding-right: 20px;

            .title
            {
               padding:9px 60px;
               background-color:#f6ba29;
               color:#fff;
               font-family: 'ge-oxygen';
               font-size:19px;
               -webkit-border-radius: 2px;
               -moz-border-radius: 2px;
               border-radius: 2px;
               margin-bottom:32px;
            }
            .title:lang(en)
            {
               font-family: 'oxygen';
               font-size:19px;
            }
            .inp 
            {
               margin-left:90px;
               >div
               {
                  display:inline-block;
                  vertical-align: top;
               }
               .caption
               {
                  font-family: 'oxygen';
                  font-size:15px;
                  white-space:pre;
                  color:#7b8483;
               }
               .inp-field input
               {
                  font-family:'glober-sb';
                  font-size:21px;
                  line-height: 21px;
                  color:#ffc539; 
                  border:1px solid #c1c8ce;
                  padding:6px 10px;
                  outline:none;
                  text-align:center;
                  width: 210px;
                  height:44px;
               }
               .currency-field select
               {
                  font-family:'glober-sb';
                  font-size:21px;
                  line-height: 21px;
                  color:#7b8483; 
                  height:44px;
                  background-color:#ebeae6;
               }

            }
         }
         
         > .sep
         {
            background:transparent url(/assets/svg/right_arrow.svg) left center no-repeat;
            background-position:left 60px;
            background-size:9px 12px;
            width:19px;
            height:12px;
         }
         .block.info
         {
            width:400px;
            background-color:#f1f3f3;
            padding: 20px 20px 30px;
            .person
            {
               background:transparent url(/assets/svg/person.jpg) left center no-repeat;               
               background-size:100px 88px;
               width:100px;
               height:88px;
            }
            .sep
            {
               max-width: 100% !important;
               width: 180px;
               height: 1px;
               background-color: #c9cfd5;
               margin: 23px 0px 10px;
            }
            .text
            {

            }
         }
        
      }
      .hsw
      {
         margin:20px 80px;
         >div
         {
            display:table-cell;
            padding: 0px 20px;
            vertical-align:top;
         }
         .btn
         {
            font-family: 'ge-oxygen';
            color:#fff;
            font-size:19px;
            padding:6px 20px;
            background-color:#f6ba29;
           -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
         }
         .btn:lang(en)
         {
            font-family: 'oxygen';
            font-size:19px;
         }
        .text
         {
            color:#7b8483;
            font-family: 'ge-oxygen';
            font-size:15px;
         }
         .text:lang(en)
         {
            font-family: 'oxygen';
            font-size:15px;
         }
      }
   }
}
}
.footer
{
   position:relative;
   height:50px;
   z-index:1;
   top:-215px;
   margin: 15px auto 0px !important;
   .share
   {
      position: absolute;
      right: 0px;
      top: 11px;
   }
}
#btnSubmit
{
   vertical-align: top;
}