body,html
{
   margin:0;
   padding:0;
   height:100%;
}
body > .wrapper
{
   height:100%;
   width:100%;
   display:table;
   margin:0px auto;
}

.line
{
   max-width:100% !important;
   width:100% !important;
   margin:0px;
   padding:0px;
   height:1px;
   background-color:#c9cfd5;
}
.sub-line
{
   max-width:100% !important;
   width:100% !important;
   margin:0px;
   padding:0px;
   height:11px;
   background-color:#f1f2f2;
}
.container
{
   display:table-row;   
   height:100%;
   .header
   {
      max-width:1024px;
      margin:0px auto;
      padding-top:30px;
      .box
      {
         position:relative;
         .logo img
         {      
            width:393px;
            height:64px;
         }
         .right
         {
           position: absolute;
           right: 0px;
           bottom: 20px; 
           >div
           {
               display:inline-block;
           }           
         }
         .sep
         {
            margin:0px 10px;
            font-size:16px;
            color:#bcbcbc;
         }
         a:lang(ka)
         {
            font-family:'dejavusans-c';
            font-size:16px;
            color:#bcbcbc;
         }
         a:lang(en)
         {
            font-family:'oxygen';
            font-size:16px;
            color:#bcbcbc;
         }
         a,
         a:hover,
         a:focus,
         a:active,
         {
            text-decoration:none;
         }
      }
   }
  .content
  {
      position: relative;    
      min-width:1024px;
      max-width:1024px;
      margin:0px auto;    
      background-color:#fafbfb;      
      .tabs
      {
         position:relative;
         top:-12px;
         right:0px;
         text-align: right;
         padding-right: 40px;
        .tab
         {
            position:relative;
            display:inline-block;
            a
            {
               display:inline-block;
               text-decoration:none;
               padding: 2px 19px;
               background-color:#fff;
               font-family: 'ge-oxygen';
               font-size:16px;
               color:#7b8483;
               height: 29px;
               vertical-align: top;
               line-height: 29px;
               border:1px solid #c9cfd5;
               -webkit-border-bottom-right-radius: 2px;
               -webkit-border-bottom-left-radius: 2px;
               -moz-border-radius-bottomright: 2px;
               -moz-border-radius-bottomleft: 2px;
               border-bottom-right-radius: 2px;
               border-bottom-left-radius: 2px;
               &:lang(en)
               {
                  font-family: 'oxygen';
                  font-size:16px;
               }
            }
            a:hover, &.active a
            {
               color:#fff;
               background-color:#f6ba29;
               border:1px solid #f6ba29;
               cursor:pointer;
            }
            &.active a:after,
            a:hover:after
            {
               content:'▼';  
               font-family: Arial,Helvetica;
               font-size:19px;
               color:#f6ba29;  
               position:absolute;
               bottom: -18px;
               left: 50%;
               -webkit-transform: translateX(-50%);
               -ms-transform: translateX(-50%);
               transform: translateX(-50%);
            }
         }
      }
      .page
      {
         display:none;
         background-color:#fafbfb;
         width:100%;
         &.active,&.about,&.api
         {
            display:inline-block;
         }
         .title
         {
            font-family:'glober-sb';
            font-size:24px;
            color:#7b8483;  
            padding:0px 30px 4px 0px; 
            border-bottom:1px solid #b8c0c6;
            display:inline-block;
            margin:20px 0px 40px 40px;
            text-transform:uppercase;
         }
         .intro
         {
            font-family: 'ge-oxygen';
            font-size:16px;
            line-height:28px;
            color:#7b8483;
            width:60%;
            padding:10px 0px 20px 60px;
         }
         .intro:lang(en)
         {
            font-family: 'oxygen';
            font-size:16px;
         }
      
         .calculator
         {
            margin-bottom:30px;
            >div
            {
               display:table-cell;
               vertical-align: top;
            }
            .block.calc
            {
               width:600px;
               border-right: 1px solid #d7e0e7;
               padding-right: 20px;

               .title
               {
                  padding:9px 60px;
                  background-color:#f6ba29;
                  color:#fff;
                  font-family: 'ge-oxygen';
                  font-size:19px;
                  -webkit-border-radius: 2px;
                  -moz-border-radius: 2px;
                  border-radius: 2px;
                  margin-bottom:32px;
                  white-space:nowrap;
               }
               .title:lang(en)
               {
                  font-family: 'oxygen';
                  font-size:19px;
               }
               .currency-switch
               {
                  .btn
                  {
                     display:inline-block;
                     -webkit-border-radius: 2px;
                     -moz-border-radius: 2px;
                     border-radius: 2px;
                     padding:7px 11px;
                  }
                  .btn.active
                  {
                     background-color:#ffc539 !important;
                  }
                  .btn.gel
                  {
                     background:#ebeae6 url(/assets/svg/gel_cg.svg) center center no-repeat;
                     background-size:20px 28px;
                     width:20px;
                     height:28px;
                  }
                  .btn.gel.active
                  {
                     background:#ebeae6 url(/assets/svg/gel_cw.svg) center center no-repeat;
                  }
                  .btn.usd
                  {
                     background:#ebeae6 url(/assets/svg/usd_cg.svg) center center no-repeat;
                     background-size:20px 28px;
                     width:20px;
                     height:28px;
                  }
                  .btn.usd.active
                  {
                     background:#ebeae6 url(/assets/svg/usd_cw.svg) center center no-repeat;
                  }
               }
               .inp 
               {
                  margin-left:90px;
                  >div
                  {
                     display:inline-block;
                     vertical-align: top;
                  }

                  .caption
                  {
                     font-family: 'oxygen';
                     font-size:15px;
                     white-space:pre;
                     color:#7b8483;
                     line-height: 18px;
                     padding-top: 3px;
                  }
                  .inp-field input
                  {
                     font-family:'glober-sb';
                     font-size:21px;
                     line-height: 21px;
                     color:#ffc539; 
                     border:1px solid #c1c8ce;
                     padding:1px 5px;
                     outline:none;
                     text-align:center;
                     width: 178px;
                     height:38px;
                  }
                  .currency-field select
                  {
                     font-family:'glober-sb';
                     font-size:21px;
                     line-height: 21px;
                     color:#7b8483; 
                     height:44px;
                     background-color:#ebeae6;
                  }

               }
               .output
               {
                  display:table;
                  border-spacing: 0px 10px;
                  margin-left:90px;
                  > .row
                  {
                     display:table-row;                     
                     > div
                     {
                        display:table-cell;
                        empty-cells: show;
                        vertical-align:top;
                        padding-left:10px;                        
                     }
                  }
                  .label
                  {
                     font-family: 'oxygen';
                     font-size:15px; 
                     color:#7b8483;   
                  }
                  .space
                  {
                     padding-left:20px !important;
                  } 
                  .box
                  {
                     font-family:'glober-sb';
                     font-size:19px;
                     height:40px;
                     border:1px solid #c1c8ce;
                     color:#7b8483;
                     vertical-align:top;
                     padding:0px 10px;
                     line-height: 46px;
                     min-width:100px;
                     text-align:right;
                  }     
                  .vk > div
                  {
                     display:inline-block;
                  }
                   input.from,
                   input.to
                  {
                     display:inline-block;
                     position:relative;
                     font-family: 'oxygen';
                     font-size:15px;
                     color:#7b8483;
                     background-color:#ebeae6;
                     -webkit-border-radius: 2px;
                     -moz-border-radius: 2px;
                     border-radius: 2px;
                     border:0px;
                     padding: 4px 20px 4px 10px;
                     height: 34px;
                     width: 100px;
                  }
                  input.from:hover,
                  input.to:hover
                  {
                     cursor:pointer;
                  }
                  .datepicker-wrapper
                  {
                     display:block;
                     position:relative;
                  }     
                  .datepicker-wrapper:hover
                  {
                     cursor:pointer;
                  }
                  .datepicker-wrapper:after
                  {
                     content:'▼';  
                     font-family: Arial,Helvetica;
                     font-size:18px;
                     color:#CECDCC;  
                     position:absolute;
                     top: 11px;
                     right: 9px;
                     pointer-events:none;
                  }
               }
            }
            .diff
            {
               margin:20px 0px 0px 110px;
               > div , > div > div
               {
                  display:inline-block;
                  vertical-align:top;
               }

               .label
               {
                  font-family: 'oxygen';
                  font-size:16px; 
                  color:#7b8483;   
                  line-height:20px;
               }
               .value
               {
                  background-color:#737a79;
                  font-family:'glober-sb';
                  font-size:21px;
                  color:#fff;
                  line-height:42px;
                  padding:2px 21px;
                  margin:0px 0px 0px 10px;
                  height:38px;
                  min-width:80px;
                  -webkit-border-radius: 2px;
                  -moz-border-radius: 2px;
                  border-radius: 2px;
                  vertical-align:middle;
                  text-align:right;
               }
            }
            
            > .sep
            {
               background:transparent url(/assets/svg/right_arrow.svg) left center no-repeat;
               background-position:left 60px;
               background-size:9px 12px;
               width:19px;
               height:12px;
            }
            .block.info
            {
               width:326px;
               background-color:#f1f3f3;
               padding: 20px 20px 30px;
               .person
               {
                  background:transparent url(/assets/svg/person.jpg) left center no-repeat;               
                  background-size:100px 88px;
                  width:100px;
                  height:88px;
               }
               .sep
               {
                  max-width: 100% !important;
                  width: 180px;
                  height: 1px;
                  background-color: #c9cfd5;
                  margin: 23px 0px 10px;
               }
               .text
               {
                  font-family:'oxygen';
                  font-size:15px; 
                  color:#7b8483;
                  line-height:25px;
                  .forbes, .forbes:hover, .forbes:focus, .forbes:active
                  {
                     font-family:'oxygen-bi';
                     font-size:16px; 
                     color:#f6ba29;
                     text-decoration:none;
                  }
                  b
                  {
                     font-family:'oxygen-bi';
                     font-size:16px; 
                  }
               }
            }
            .symbol
            {
               display:inline-block;
               width: 20px;
               height: 38px;
            }
            .symbol.gel
            {
               background:transparent url(/assets/svg/gel_cg.svg) center center no-repeat;
               background-size:20px 28px;
            }
            .symbol.usd
            {
               background:transparent url(/assets/svg/usd_cg.svg) center center no-repeat;
               background-size:20px 28px;
            } 
           
         }

      .hsw
      {
         margin:20px 80px;
         >div
         {
            display:table-cell;
            padding: 0px 20px;
            vertical-align:top;
         }
         .title
         {
            font-family: 'ge-oxygen';
            color:#fff;
            font-size:19px;
            padding:6px 20px;
            background-color:#f6ba29;
           -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            white-space: nowrap;
         }
         .title:lang(en)
         {
            font-family: 'oxygen';
            font-size:19px;
         }
        .text
         {
            color:#7b8483;
            font-family: 'ge-oxygen';
            font-size:15px;
            line-height:26px;
            position:relative;
            top:-5px;
         }
         .text:lang(en)
         {
            font-family: 'oxygen';
            font-size:15px;
         }
      }
   }
   #a_chart
   {     
      background-color:#f1f2f2;
      .highcharts-title
      {
         padding-right:20px;
      }
      .highcharts-tooltip
      {

         .tooltip-header
         {
            font-family: 'oxygen';
            font-size:14px;
            color:#7b8483;
         }  
         .tooltip-content
         {
            font-family: 'oxygen-b';
            font-size:13px;
            color:#7b8483;
            padding-left:5px;
            span
            {
               font-family: 'oxygen';
            }
            .symbol
            {
               display:inline-block;
               width: 10px;
               height: 15px;
               position:relative;
               top:3px;
            }
            .symbol.gel
            {
               background:transparent url(/assets/svg/gel_cg.svg) center center no-repeat;
               background-size:10px 15px;
            }
            .symbol.usd
            {
               background:transparent url(/assets/svg/usd_cg.svg) center center no-repeat;
               background-size:10px 15px;
            }
         }         
      }
   }
}
}
.footer
{
   display:table-row;

   .box {
      max-width:1024px;
      height:50px;
      margin: 15px auto 0px !important;
      position:relative;
      >div {
         display:table-cell;
           vertical-align: middle;
      }
      .last-update
      {
         font-family: 'oxygen';
         font-size:14px;
         color:#7b8483;
         white-space:nowrap;
         width:100%;   
         text-align:center;    
         span
         {
            font-family:'oxygen-b';
            font-size:14px;
            color:#7b8483;
         }  
      }
      .share
      {
         font-family: 'oxygen';
         font-size:15px;
         color:#7b8483;
         white-space:nowrap;
      }
   }
}
.btn:hover
{
   cursor:pointer;
}
.page
{
   .highcharts-container{width:100% !important; max-width:1024px !important; height:100% !important;}
}
.page2
{
   .title
   {
      font-family:'glober-sb';
      font-size:24px;
      color:#7b8483;  
      padding:0px 30px 4px 0px; 
      border-bottom:1px solid #b8c0c6;
      display:inline-block;
      margin:20px 0px 40px 40px;
      text-transform:uppercase;
   }
   .filters
   {
      margin:10px 0px 20px 40px;  
      .caption
      {
         font-family:'glober-sb';
         font-size:17px;
         color:#7b8483;  
         display:inline-block;
         text-transform: uppercase;
      }
   }
  
   #b_chart
   {
      .highcharts-container{width:100% !important; height:100% !important;}
      .highcharts-range-selector-buttons
      {
         > text
         {
            font-family: 'oxygen';
            font-size:14px;   
            color:#7b8483 !important;
            fill:#7b8483 !important;
         }
         .highcharts-button
         {
            rect
            {
               fill:#fff;
               stroke:#c1c8ce;
               stroke-width:1;
               opacity:0.7;
            }
            text
            {
               font-family: 'oxygen';
               font-size:13px;   
               color:#7b8483 !important;
               fill:#7b8483 !important;
               letter-spacing: 2px;
            }
         }
      }
      input.highcharts-range-selector
      {
         font-family: 'oxygen' !important;
         font-size:15px !important;   
         color:#7b8483 !important;
         background-color:transparent !important;
         border:0px !important;
         padding:2px 0px 2px 1px !important;
         height:21px !important;
         outline:none;
         vertical-align:top !important;
         top: 3px !important;
      }
      .highcharts-input-group
      {
         > text
         {
            font-family: 'oxygen' !important;
            font-size:13px !important;   
            color:#7b8483 !important;
            fill:#7b8483 !important;
         }
         g
         {
            rect
            {
               fill:#ebeae6;
               stroke-width:0px;
            }
            text
            {
               display:inline-block;
               position:relative;
               font-family: 'oxygen'  !important;
               font-size:15px  !important;
               color:#7b8483  !important;
               fill:#7b8483  !important;
            }
         }
      }
      .highcharts-legend-item
      {
         span
         {
            top:6px !important;
            color: #7b8483;
            font-family:oxygen;
            font-size:15px;
            font-weight:normal;
            line-height:15px;
            &:hover
            {
               color: #7b8483;
            }
         }
         
         path
         {
            stroke-width:9px;
         }         
      }
      .highcharts-tooltip
      {
         .tooltip-header
         {
            font-family: 'oxygen';
            font-size:14px;
            color:#7b8483;
         }  
         .tooltip-item
         {
            font-family: 'oxygen-b';
            font-size:13px;
            line-height:20px;
            color:#7b8483;
            padding-left:5px;
            span
            {
               font-family: 'oxygen';
            }          
         }         
      }
   }
}
.page3
{
   .title
   {
      font-family:'glober-sb';
      font-size:24px;
      color:#7b8483;  
      padding:0px 30px 4px 0px; 
      border-bottom:1px solid #b8c0c6;
      display:inline-block;
      margin:20px 0px 40px 40px;
      text-transform:uppercase;
   }
   .filters
   {
      margin:10px 0px 20px 40px;  
      .caption
      {
         font-family:'glober-sb';
         font-size:17px;
         color:#7b8483;  
         display:inline-block;
         text-transform: uppercase;
         margin:0px 10px;
      }
   }
}
 .b_chart_switch_wrapper, .c_chart_switch_wrapper
   {
      position:relative;
   }
   .c_chart_switch
   {
       > div
       {
         &:nth-of-type(2)
         {
            border-left:0px !important;
            border-right:0px !important;
         } 
       }
   }
        
   .b_chart_switch, .c_chart_switch
   {
      display:inline-block;
      position:absolute;
      top:3px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index:2;
      > div
      {
         position:relative;
         display:inline-block;
         padding:3px 10px;
         font-family:'oxygen-b';
         font-size:15px;
         color:#7b8483;
         text-transform: uppercase;
         border-color:#c1c8ce;
         border-style:solid;
         border-width:1px;
         background-color:#fafbfb;
         &:hover
         {
            background-color:#f6ba29;
            color:#fff;
            border-color:#f6ba29;  
            cursor:pointer;
         }
         &.active
         {
            background-color:#f6ba29;
            color:#fff;
            border-color:#f6ba29;           
         }
         &.active:after
         {
            content:'▼';  
            font-family: Arial,Helvetica;
            font-size:19px;
            color:#f6ba29;  
            position:absolute;
            bottom: -15px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
         }
         &:first-of-type
         {
            // border-top:1px solid #f6ba29;
            // border-left:1px solid #f6ba29;
            // border-bottom:1px solid #f6ba29;
            // border-right:0px !important;
            -webkit-border-top-left-radius: 2px;
            -webkit-border-bottom-left-radius: 2px;
            -moz-border-radius-topleft: 2px;
            -moz-border-radius-bottomleft: 2px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
         }
    
         &:last-of-type
         {
            // border-top:1px solid #c1c8ce;
            // border-right:1px solid #c1c8ce;
            // border-bottom:1px solid #c1c8ce;

            // border-left:0px !important;
            -webkit-border-top-right-radius: 2px;
            -webkit-border-bottom-right-radius: 2px;
            -moz-border-radius-topright: 2px;
            -moz-border-radius-bottomright: 2px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
         }

      }

   }

#c_chart
{
   .highcharts-legend-item
   {
      path
      {
         cursor:pointer;
      }
   }
   .highcharts-tooltip
   {
      .tooltip-header
      {
         font-family: 'oxygen';
         font-size:14px;
         color:#7b8483;
         margin-bottom:20px;
         padding-bottom:20px;
      }  
      .tooltip-item-header span
      {
         font-family: 'oxygen';
         font-size:14px;
         color:#7b8483;
         text-align:right;
         svg
         {
            display: block;
            float: right;
         }
      }
      .tooltip-item, .tooltip-item-header
      {
         display:table-row;
         width:100%;
         .nbg
         {
            margin-top:20px;
         }
         span.l
         {
         font-family: 'oxygen-b';
         font-size:13px;
         line-height:20px;
         color:#7b8483;
         padding-left:5px;
          min-width:40px;
         
         }
         span.b, span.s, span.r
         {
            font-family: 'oxygen';
            text-align:right;
            min-width:40px;
            color:#7b8483;
         }
         > span
         {
            display:table-cell;
           
         }          
      }         
   }
}

.page.about
{
   .intro
   {
     width:auto !important;
     padding: 10px 60px 20px 60px !important;
   }
}
.select2-container
{

   .select2-choice, .select2-choices
   {
      position:relative;
      font-family: 'ge-oxygen';
      font-size:19px;
      color:#fff;
      padding:0px;
      background-color:#f6ba29 !important;
      background-image:none !important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height:42px;
   }
   .select2-choice .select2-arrow b
   {
      background:none;
      background-color:#f6ba29 !important;
   }
   .select2-choice .select2-arrow b:after,
   .select2-choices:after
   {
      content:'▼';  
      font-family: Arial;
      font-size:19px;
      color:#fff;  
      position:absolute;
      top:10px;
      right:9px;
      cursor:pointer;

   }
   
   .select2-choices .select2-search-choice
   {
      padding: 0px 18px 0px 5px;
      border:0px !important;
      border-radius:0px;
      background-color:transparent;
      font-family:'glober-sb';
      font-size:19px;
      color:#fff;
      line-height:38px;
   }
   .select2-chosen
   {
      padding: 0px 18px 0px 5px;
      border:0px !important;
      border-radius:0px;
      background-color:transparent;
      font-family:'glober-sb';
      font-size:19px;
      color:#fff;
      line-height:44px;
   }

}
.select2-search
   {
      input
      {
         border: 1px solid #e7ebef;
         background:none !important;
         margin: 3px 0px 0px;
         font-family: 'oxygen';
         font-size: 13px;
         color: #7b8483;
      }
   }
.select2-container-multi .select2-search-choice-close {
   left:auto;
  right:3px;
}
.select2-container-multi .select2-choices .select2-search-field input {
   height:32px;
}
.select2-results::-webkit-scrollbar-track
{
background-color: #f1f2f2;
}
.select2-results::-webkit-scrollbar
{
width: 16px;
background-color: #f1f2f2;
}
.select2-results::-webkit-scrollbar-thumb
{
background-color: #f6ba29;
border:0px;
cursor:pointer;
}
.select2-results .select2-result
{
   border:1px solid #e7ebef;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   margin:10px 10px;
   > div
   {
      display: talbe-row;
      > div
      {
         display: table-cell;
      }
      .flag
      {
         width:25px;
         padding:0px 5px;
      }
      .logo img
      {
         width:23px;
         height:23px;
         position: relative;
         top: 5px;
      }
      .abbr
      {
         font-family:'glober-sb';
         font-size:16px;
         color:#7b8483;
         width:50px;
         padding:0px 5px;
      }
      .name
      {
         font-family:'oxygen';
         font-size:13px;
         color:#7b8483;
      }
   }
}








.ui-datepicker
{
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   padding:0px;
   border:0px;
   .ui-datepicker-header
   {
      background:none;
      background-color:#f6ba29;
      -webkit-border-radius: 2px;
      -webkit-border-bottom-right-radius: 0px;
      -webkit-border-bottom-left-radius: 0px;
      -moz-border-radius: 2px;
      -moz-border-radius-bottomright: 0px;
      -moz-border-radius-bottomleft: 0px;
      border-radius: 2px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border:1px solid #f6ba29;
      padding: 3px 0px;
      margin:0px;
      .ui-datepicker-next, .ui-datepicker-prev
      {
         background:none;
         background-color:transparent;
         border:0px;
         -webkit-border-radius: 0px;
         -moz-border-radius: 0px;
         border-radius: 0px;         
         opacity:0.7;
         cursor:pointer;
      }
      .ui-datepicker-next
      {
         span { background-position: -32px -16px; margin-top: -11px;}         
      }
      .ui-datepicker-prev
      {
         span { background-position: -96px -16px; margin-top: -11px; }
      }
      
      .ui-datepicker-title
      {
         font-family:'oxygen';
         font-size:16px;
         color:#fff;
      }
   }
   .ui-datepicker-calendar
   {
      border:1px solid #c0c7cd;
      border-top:0px;      
      -webkit-border-radius: 2px;
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -moz-border-radius: 2px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-topright: 0px;
      border-radius: 2px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin:0px 0px 5px;   
      padding-bottom: 9px;
      border-collapse: separate;
      thead tr th
      {
         padding: .1em .1em;
         span
         {
            font-family:'oxygen';
            font-size:13px;
            color:#7b8483;
         }
      }
      .ui-state-default
      {
         font-family:'oxygen';
         font-size:11px;
         color:#f6ba29;
         background:none;
         background-color:#fff;
         border:1px solid #f1f2f4;
      } 
      .ui-state-default:hover
      {
         background-color:#f7f7f7;
         border:1px solid #c8ced3;
      }
   }
}
.filters
{
   input
   {
      color:#fff !important; 
   }
   input::-webkit-input-placeholder {
      color:#fff; 
   }

   input:-moz-placeholder { /* Firefox 18- */
      color:#fff; 
   }

   input::-moz-placeholder {  /* Firefox 19+ */
      color:#fff; 
   }

   input:-ms-input-placeholder {  
      color:#fff; 
   }
}
// ui-datepicker: The outer container of the datepicker. If the datepicker is inline, this element will additionally have a ui-datepicker-inline class. If the isRTL option is set, this element will additionally have a class of ui-datepicker-rtl.
// ui-datepicker-header: The container for the datepicker's header.
// ui-datepicker-prev: The control used to select previous months.
// ui-datepicker-next: The control used to select subsequent months.
// ui-datepicker-title: The container for the datepicker's title containing the month and year.
// ui-datepicker-month: The textual display of the month or a <select> element if the changeMonth option is set.
// ui-datepicker-year: The textual display of the year or a <select> element if the changeYear option is set.
// ui-datepicker-calendar: The table that contains the calendar itself.
// ui-datepicker-week-end: Cells containing weekend days.
// ui-datepicker-other-month: Cells containing days that occur in a month other than the currently selected month.
// ui-datepicker-unselectable: Cells containing days that are not selectable by the user.
// ui-datepicker-current-day: The cell containing the selected day.
// ui-datepicker-today: The cell containing today's date.
// ui-datepicker-buttonpane: The buttonpane that is used when the showButtonPanel option is set.
// ui-datepicker-current: The button used to select today's date.