body,html
{
   margin:0;
   padding:0;
   height:100%;
}
body > .wrapper
{
   height:100%;
   width:100%;
   display:table;
   margin:0px auto;
}
h1
{
   font-family:'glober-sb';
   font-size:24px;
   color:#7b8483;
   padding:0px 30px 4px 0px;
   border-bottom:1px solid #b8c0c6;
   display:inline-block;
   margin:20px 0px 10px 50px; /* margin:20px 0px 10px 40px; */
   text-transform:uppercase;
}
a
{
   font-family: 'dejavusans';
   font-size: 16px;
   color: #7b8483;
   &:lang(en)
   {
      font-family:'oxygen';
   }
}

.container {
   display:table-row;
   height:100%;

   .header
   {
      max-width:100%;
      margin:0px auto;
      padding-top:30px;
      background-color: #fff;
      .box
      {
         position:relative;
         margin:0px 10px;
         >div
         {
            display:table-cell;
            vertical-align:middle;
         }
         .logo
         {
            img
            {
               max-width:393px;
               width:100%;
               height:64px;
            }
         }
         .menu-toggle
         {
            padding-left: 10px;
            padding-bottom: 6px;
            img
            {
               width:30px;
               height:30px;
            }
         }
         .right
         {
            position: absolute;
            right: 0px;
              padding-bottom: 25px;
  bottom: 0px;
            &.des
            {
               display:none;
            }
            >div
            {
               display:inline-block;
            }
         }
         .sep
         {
            margin:0px 10px;
            font-size:16px;
            color:#bcbcbc;
         }
         a
         {
            font-family:'dejavusans';
            font-size:16px;
            color:#bcbcbc;
            &:lang(en)
            {
               font-family:'oxygen';
               font-size:16px;
               color:#bcbcbc;
            }
         }
         a,
         a:hover,
         a:focus,
         a:active,
         {
            text-decoration:none;
         }
      }
   }
   .line
   {
      max-width:100% !important;
      width:100% !important;
      margin:0px;
      padding:0px;
      height:1px;
      background-color:#c9cfd5;
   }
  .content{

      position: relative;
      padding:0px;
      margin:0px auto;
      background-color: #fafbfb;
      .sub-line
      {
         display:none;
         max-width:100% !important;
         width:100% !important;
         margin:0px;
         padding:0px;
         height:11px;
         background-color:#f1f2f2;
      }
      .tabs{

         display:none;
         text-align: center;

         .tab
         {
            position:relative;
            a
            {
               display:block;
               text-decoration:none;
               padding: 2px 30px;
               background-color:#fff;
               font-family: 'dejavusans';
               font-size:16px;
               text-align:left;
               color:#7b8483;
               height: 29px;
               vertical-align: top;
               line-height: 29px;
               border-bottom:1px solid #c9cfd5;
               -webkit-border-bottom-right-radius: 2px;
               -webkit-border-bottom-left-radius: 2px;
               -moz-border-radius-bottomright: 2px;
               -moz-border-radius-bottomleft: 2px;
               border-bottom-right-radius: 2px;
               border-bottom-left-radius: 2px;
               &:lang(en)
               {
                  font-family: 'oxygen';
                  font-size:16px;
               }
            }
            a:hover, &.active a
            {
               color:#fff;
               background-color:#ffc539;
               border-bottom:1px solid #ffc539;
               cursor:pointer;
            }
         }
      }
      .page{
         /* display:none; */
         position:fixed;
         top:0px;
         left:9999999px;
         background-color:#fafbfb;
         padding:0px;/*  10px; */
         width:100%;

         // &.page1 > div, &.page2 > div
         // { padding:0px 10px; }
         .chart
         {
            padding:0px;
         }
         &.active,&.about,&.api
         {
            display:inline-block;
            position:static;
         }
         .intro
         {
            font-family: 'dejavusans';
            font-size:16px;
            line-height:26px;
            color:#7b8483;
            width:auto;
            padding:10px;
            &:lang(en)
            {
               font-family: 'oxygen';
               font-size:16px;
               line-height:28px;
            }
         }


         .calculator
         {
            margin-bottom:30px;
            padding:0px 10px;
            >div
            {
               display:block;
               vertical-align: top;
               margin-bottom: 20px;
            }
            .block.calc
            {
               width:100%;
               padding-right: 0px;

               .title
               {
                  background-color:#ffc539;
                  color:#fff;
                  font-family: 'dejavusans';
                  font-size:19px;
                  line-height: 25px;
                  -webkit-border-radius: 2px;
                  -moz-border-radius: 2px;
                  border-radius: 2px;
                  margin:0px 0px 15px;
                  padding:9px 9px;
                  white-space:normal;
                  &:lang(en)
                  {
                     font-family: 'oxygen';
                     font-size:19px;
                  }
               }

               .currency-switch
               {
                  .btn
                  {
                     display:inline-block;
                     -webkit-border-radius: 2px;
                     -moz-border-radius: 2px;
                     border-radius: 2px;
                     padding:7px 11px;
                  }
                  .btn.active
                  {
                     background-color:#ffc539 !important;
                  }
                  .btn.gel
                  {
                     background:#ebeae6 url(/assets/svg/gel_cg.svg) center center no-repeat;
                     background-size:20px 28px;
                     width:20px;
                     height:28px;
                  }
                  .btn.gel.active
                  {
                     background:#ebeae6 url(/assets/svg/gel_cw.svg) center center no-repeat;
                  }
                  .btn.usd
                  {
                     background:#ebeae6 url(/assets/svg/usd_cg.svg) center center no-repeat;
                     background-size:20px 28px;
                     width:20px;
                     height:28px;
                  }
                  .btn.usd.active
                  {
                     background:#ebeae6 url(/assets/svg/usd_cw.svg) center center no-repeat;
                  }
                  .btn:hover
                  {
                     cursor:pointer;
                  }
               }
               .vk .value
               {
                  max-width:178px;
               }
               .inp
               {
                  margin:0px;
                  >div
                  {
                     display:inline-block;
                     vertical-align: top;
                  }

                  .caption
                  {
                     font-family: 'dejavusans';
                     font-size:15px;
                     white-space:pre;
                     color:#7b8483;
                     line-height: 18px;
                     padding:0px 0px 5px;
                     &:lang(en)
                     {
                        font-family: 'oxygen';
                        font-size:15px;
                     }
                  }
                  .inp-field
                  {
                     margin-left:5px;
                     input
                     {
                        font-family:'glober-sb';
                        font-size:21px;
                        line-height: 21px;
                        color:#ffc539;
                        border:1px solid #c1c8ce;
                        padding:1px 5px;
                        outline:none;
                        text-align:center;
                        width: 178px;
                        height:38px;
                        box-shadow:none;
                     }
                  }
               }
               .output
               {
                  display:block;
                  border-spacing: 0px;
                  margin:10px 0px 0px;
                  .col
                  {
                     width:auto;
                     display: inline-block;
                     vertical-align:top;
                     &.col-worth
                     {
                        margin-top:20px;
                        > div {padding:0px 0px 0px 0px;}
                        .vk
                        {
                           .value
                           {
                              display:table-cell;
                              width:100%;
                           }
                           .symbol
                           {
                              display:table-cell;
                              min-width:38px;
                           }
                        }

                     }
                     > div
                     {
                        display:block;
                     }
                     > div:nth-of-type(2)
                     {
                        margin-bottom:10px;
                     }
                     > div:first-of-type
                     {
                        height:30px;
                     }
                     > div:not(:first-of-type)
                     {
                        height:40px;
                     }
                  }
                  .label
                  {
                     font-family: 'dejavusans';
                     font-size:15px;
                     color:#7b8483;
                     &:lang(en)
                     {
                        font-family: 'oxygen';
                        font-size:15px;
                     }
                  }
                  .box
                  {
                     font-family:'glober-sb';
                     font-size:19px;
                     height:40px;
                     border:1px solid #c1c8ce;
                     color:#7b8483;
                     vertical-align:top;
                     padding:0px 10px;
                     line-height: 40px;
                     min-width:100px;
                     text-align:right;
                  }
                  .vk > div
                  {
                     display:inline-block;
                  }
                   input.from,
                   input.to
                  {
                     display:inline-block;
                     position:relative;
                     font-family: 'dejavusans';
                     font-size:15px;
                     color:#7b8483;
                     background-color:#ebeae6;
                     -webkit-border-radius: 2px;
                     -moz-border-radius: 2px;
                     border-radius: 2px;
                     border:0px;
                     padding: 4px 20px 4px 10px;
                     height: 34px;
                     width: 100px;
                     &:lang(en)
                     {
                        font-family: 'oxygen';
                        font-size:15px;
                     }
                  }
                  input.from:hover,
                  input.to:hover
                  {
                     cursor:pointer;
                  }
                  .datepicker-wrapper
                  {
                     display:block;
                     position:relative;
                  }
                  .datepicker-wrapper:hover
                  {
                     cursor:pointer;
                  }
                  .datepicker-wrapper:after
                  {
                     content:'▼';
                     font-family: Arial,Helvetica;
                     font-size:18px;
                     color:#CECDCC;
                     position:absolute;
                     top: 11px;
                     right: 9px;
                     pointer-events:none;
                  }
               }
            }
            .diff
            {
               margin:30px 0px 0px 0px;
               > div , > div > div
               {
                  display:inline-block;
                  vertical-align:top;
               }

               .label
               {
                  font-family: 'dejavusans';
                  font-size:16px;
                  color:#7b8483;
                  line-height:20px;
                  margin-bottom:10px;
                  &:lang(en)
                  {
                     font-family: 'oxygen';
                     font-size:16px;
                  }
                  .up
                  {
                     font-weight:bold;
                  }
               }
               .value
               {
                  background-color:#ffc539;
                  font-family:'glober-sb';
                  font-size:21px;
                  color:#fff;
                  line-height:42px;
                  padding:2px 21px;
                  margin:0px 0px 0px 5px;
                  height:38px;
                  min-width:80px;
                  max-width:178px;
                  -webkit-border-radius: 2px;
                  -moz-border-radius: 2px;
                  border-radius: 2px;
                  vertical-align:middle;
                  text-align:right;
                  width:100%;

               }
               .vk
               {
                  >div
                  {
                     display:table-cell;
                  }
                  .symbol
                  {
                     min-width:40px;
                  }
               }
            }

            > .sep
            {
               background:none;
               width:0px;
               height:0px;
            }
            .block.info
            {
               margin:20px 0px 0px;
               background-color:#f1f3f3;
               padding:10px 0px 5px 10px;
               > div
               {
               }
               .person
               {
                  background:transparent url(/assets/svg/person.jpg) left center no-repeat;
                  background-size:100px 88px;
                  width:100px;
                  height:88px;
               }
               .sep
               {
                  background-color: #c9cfd5;
                  max-width: 100% !important;
                  width: 180px;
                  height: 1px;
                  margin: 23px 0px 10px;
               }
               .text
               {
                  font-family:'dejavusans';
                  font-size:15px;
                  color:#7b8483;
                  line-height:25px;
                  &:lang(en)
                  {
                     font-family:'oxygen';
                     font-size:15px;
                  }
                  .forbes, .forbes:hover, .forbes:focus, .forbes:active
                  {
                     font-family:'dejavusans-bi';
                     font-size:16px;
                     color:#ffc539;
                     text-decoration:none;
                     &:lang(en)
                     {
                        font-family:'oxygen-bi';
                        font-size:16px;
                     }
                  }
                  b
                  {
                     font-family:'dejavusans-bi';
                     font-size:16px;
                     &:lang(en)
                     {
                        font-family:'oxygen-bi';
                        font-size:16px;
                     }
                  }
               }
            }
            .symbol, .symbol2
            {
               display:inline-block;
               width: 38px;
               height: 42px;
            }
            .symbol.gel,.symbol2.gel
            {
               background:transparent url(/assets/svg/gel_cg.svg) center center no-repeat;
               background-size:20px 28px;
            }
            .symbol.usd,.symbol2.usd
            {
               background:transparent url(/assets/svg/usd_cg.svg) center center no-repeat;
               background-size:20px 28px;
            }
            .symbol2.gel:lang(ka)
            {
               background:transparent url(/assets/svg/gel_cgka.svg) center center no-repeat;
               background-size:45px 20px;
               width:60px;
               min-width: 60px;
            }

            .symbol2.usd:lang(ka)
            {
               background:transparent url(/assets/svg/usd_cgka.svg) center center no-repeat;
               background-size:41px 25px;
               width: 60px;
               min-width: 60px;
            }

         }
         .hsw
         {
            margin: 30px 0px 0px;
            >div
            {
               display:block;
               padding: 0px;
               vertical-align:top;
            }
            .title
            {
               font-family: 'dejavusans';
               color:#fff;
               font-size:19px;
               padding:6px 20px;
               background-color:#ffc539;
              -webkit-border-radius: 2px;
               -moz-border-radius: 2px;
               border-radius: 2px;
               white-space: normal;
               text-align:center;
               &:lang(en)
               {
                  font-family: 'oxygen';
                  font-size:19px;
               }
            }
            .text
            {
               color:#7b8483;
               font-family: 'dejavusans';
               font-size:15px;
               line-height:26px;
               padding: 10px 0px 5px 2px;
               &:lang(en)
               {
                  font-family: 'oxygen';
                  font-size:15px;
               }
            }
         }
         .filters
         {
            margin:10px 0px 50px 0px;
            display:block;
            padding:0px 10px;
            .caption
            {
               display:block;
               font-family:'glober-sb';
               font-size:17px;
               color:#7b8483;
               // display:inline-block;
               text-transform: uppercase;
            }
            .box
            {
               /* display:table-row; */
               margin-bottom:20px;

               > div
               {
                /*   display:table-cell; */
                  vertical-align:middle;
               }
               > div:first-of-type
               {
                  text-align:left; /* text-align:right; */
               }
            }
            input
            {
               color:#fff !important;
            }
            input::-webkit-input-placeholder {
               color:#fff;
            }

            input:-moz-placeholder { /* Firefox 18- */
               color:#fff;
            }

            input::-moz-placeholder {  /* Firefox 19+ */
               color:#fff;
            }

            input:-ms-input-placeholder {
               color:#fff;
            }
         }
         &.about
         {
            .intro
            {
              width:auto !important;
              padding: 10px;
            }
         }
         .highcharts-container{width:100% !important; max-width:1024px !important; height:100% !important;}
      }
   }
}
.footer {

   display:table-row;
   .box {
      max-width:100%;
      height:auto;
      margin: 30px 0px 0px;
      position:relative;
      >div {
         display:block;
         vertical-align: middle;
         text-align: left;
         padding:10px 0px 10px 10px;
      }
      .last-update
      {
         font-family: 'dejavusans';
         font-size:14px;
         color:#7b8483;
         white-space:nowrap;
         width:auto;
         border-top:1px solid #c9cfd5;
         border-bottom:1px solid #c9cfd5;
         &:lang(en)
         {
            font-family: 'oxygen';
            font-size:14px;
         }
         span
         {
            font-family:'dejavusans-b';
            font-size:14px;
            color:#7b8483;
            &:lang(en)
            {
               font-family: 'oxygen-b';
               font-size:14px;
            }
         }
      }
      .share
      {
         font-family: 'dejavusans';
         font-size:15px;
         color:#7b8483;
         white-space:nowrap;
         &:lang(en)
         {
            font-family: 'oxygen';
            font-size:15px;
         }
         >div{ display:inline-block; }
         .addthis_sharing_toolbox
         {
            top: 6px;
            position: relative;
         }
      }
      .powered-by
      {
         /* padding:10px 0px 5px 0px; */
      }
   }
}


#a_chart {
   background-color:#f1f2f2;
   .highcharts-title
   {
      padding-right:20px;
   }
   .highcharts-tooltip
   {
      .tooltip-header
      {
         font-family: 'dejavusans';
         font-size:14px;
         color:#7b8483;
         &:lang(en)
         {
            font-family: 'oxygen';
            font-size:14px;
         }
      }
      .tooltip-content
      {
         font-family: 'dejavusans-b';
         font-size:13px;
         color:#7b8483;
         padding-left:5px;
         &:lang(en)
         {
            font-family: 'oxygen-b';
            font-size:13px;
         }
         span
         {
            font-family: 'dejavusans';
            &:lang(en)
            {
               font-family: 'oxygen';
            }
         }
         .symbol
         {
            display:inline-block;
            width: 10px;
            height: 15px;
            position:relative;
            top:3px;
            &.gel
            {
               background:transparent url(/assets/svg/gel_cg.svg) center center no-repeat;
               background-size:10px 15px;
            }
            &.usd
            {
               background:transparent url(/assets/svg/usd_cg.svg) center center no-repeat;
               background-size:10px 15px;
            }
         }
      }
   }
}
#b_chart {
   .highcharts-legend-item
   {
      span
      {
         top:6px !important;
         color: #7b8483;
         font-family:oxygen;
         font-size:15px;
         font-weight:normal;
         line-height:15px;
         &:hover
         {
            color: #7b8483;
         }
      }
      path
      {
         stroke-width:9px;
      }
   }
   .highcharts-tooltip
   {
      .tooltip-header
      {
         font-family: 'dejavusans';
         font-size:14px;
         color:#7b8483;
         &:lang(en)
         {
            font-family: 'oxygen';
            font-size:14px;
         }
      }
      .tooltip-item
      {
         font-family: 'dejavusans-b';
         font-size:13px;
         line-height:20px;
         color:#7b8483;
         padding-left:5px;
         &:lang(en)
         {
            font-family: 'oxygen-b';
         }
         span
         {
            font-family: 'dejavusans';
            &:lang(en)
            {
               font-family: 'oxygen';
            }
         }
      }
   }
}
#c_chart {
   .highcharts-legend-item
   {
      path
      {
         cursor:pointer;
      }
   }
   .highcharts-tooltip
   {
      .tooltip-header
      {
         font-family: 'dejavusans';
         font-size:14px;
         color:#7b8483;
         margin-bottom:20px;
         padding-bottom:20px;
         &:lang(en)
         {
            font-family: 'oxygen';
         }
      }
      .tooltip-item-header span
      {
         font-family: 'dejavusans';
         font-size:14px;
         color:#7b8483;
         text-align:right;
         &:nth-of-type(3) {
            padding-left:10px;
         }
         &:lang(en)
         {
            font-family: 'oxygen';
         }
         svg
         {
            display: block;
            float: right;
            margin: 3px auto 0px;
         }
      }
      .tooltip-item, .tooltip-item-header
      {
         display:table-row;
         width:100%;
         .nbg
         {
            margin-top:20px;
         }
         span.l
         {
            font-family: 'dejavusans-b';
            font-size:13px;
            line-height:20px;
            color:#7b8483;
            padding-left:5px;
            min-width:40px;
            &:lang(en)
            {
               font-family: 'oxygen-b';
            }
         }
         span.b, span.s, span.r
         {
            font-family: 'dejavusans';
            text-align:right;
            min-width:40px;
            color:#7b8483;
            &:lang(en)
            {
               font-family: 'oxygen';
            }
         }
         > span
         {
            display:table-cell;

         }
      }
   }
}
#b_chart, #c_chart {
   .highcharts-container
   {width:100% !important; height:100% !important;}
   .highcharts-range-selector-buttons
   {
      > text
      {
         font-family: 'dejavusans';
         font-size:14px;
         color:#7b8483 !important;
         fill:#7b8483 !important;
         &:lang(en)
         {
            font-family: 'oxygen';
         }
      }
      .highcharts-button
      {
          rect
         {
            //fill:#ffc539;
            //stroke:#ffc539;
            //stroke-width:1;
            //opacity:0.7;
         }
         text
         {
            font-family: 'dejavusans';
            font-size:13px;
            font-weight:normal !important;
            //color:#7b8483 !important;
            //fill:#7b8483 !important;
            letter-spacing: 2px;
            &:lang(en)
            {
               font-family: 'oxygen';
            }
         }
      }
   }
   input.highcharts-range-selector
   {
      font-family: 'dejavusans' !important;
      font-size:15px !important;
      color:#7b8483 !important;
      background-color:transparent !important;
      border:0px !important;
      padding:2px 0px 2px 1px !important;
      height:21px !important;
      outline:none;
      vertical-align:top !important;
      top: 3px !important;
      cursor:pointer;
      &:lang(en)
      {
         font-family: 'oxygen' !important;
      }
   }
   .highcharts-input-group
   {
      > text
      {
         font-family: 'dejavusans' !important;
         font-size:13px !important;
         color:#7b8483 !important;
         fill:#7b8483 !important;
         &:lang(en)
         {
            font-family: 'oxygen' !important;
         }
      }
      g
      {
         rect
         {
            fill:#ebeae6;
            stroke-width:0px;
         }
         text
         {
            display:inline-block;
            position:relative;
            font-family: 'dejavusans'  !important;
            font-size:15px  !important;
            color:#7b8483  !important;
            fill:#7b8483  !important;
            &:lang(en)
            {
               font-family: 'oxygen' !important;
            }
         }
      }
   }
}
.b_chart_switch_wrapper, .c_chart_switch_wrapper
{
   position:relative;
}
.c_chart_switch {
    > div
    {
      &:nth-of-type(2)
      {
         border-left:0px !important;
         border-right:0px !important;
      }
    }
}
.b_chart_switch, .c_chart_switch {

   display:inline-block;
   position:absolute;
   top:-9px;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   z-index:2;
   > div
   {
      position:relative;
      display:table-cell;
      padding:3px 10px;
      font-family:'dejavusans-b';
      font-size:15px;
      color:#7b8483;
      text-transform: uppercase;
      border-color:#c1c8ce;
      border-style:solid;
      border-width:1px;
      background-color:#fafbfb;
      top: -25px;
      &:lang(en)
      {
         font-family: 'oxygen-b';
      }
      &:hover
      {
         background-color:#ffc539;
         color:#fff;
         border-color:#ffc539;
         cursor:pointer;
      }
      &.active
      {
         background-color:#ffc539;
         color:#fff;
         border-color:#ffc539;
      }
      &.active:after
      {
         content:'▼';
         font-family: Arial,Helvetica;
         font-size:19px;
         color:#ffc539;
         position:absolute;
         bottom: -15px;
         left: 50%;
         -webkit-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
         transform: translateX(-50%);
      }
      &:first-of-type
      {
         -webkit-border-top-left-radius: 2px;
         -webkit-border-bottom-left-radius: 2px;
         -moz-border-radius-topleft: 2px;
         -moz-border-radius-bottomleft: 2px;
         border-top-left-radius: 2px;
         border-bottom-left-radius: 2px;
      }

      &:last-of-type
      {
         -webkit-border-top-right-radius: 2px;
         -webkit-border-bottom-right-radius: 2px;
         -moz-border-radius-topright: 2px;
         -moz-border-radius-bottomright: 2px;
         border-top-right-radius: 2px;
         border-bottom-right-radius: 2px;
      }
   }
}

.select2-container {
   min-width:300px;
   max-width:300px;
   .select2-choice, .select2-choices {
      position:relative;
      font-family: 'dejavusans';
      font-size:19px;
      color:#fff;
      padding:0px;
      background-color:#ffc539 !important;
      background-image:none !important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height:42px;
      &:lang(en)
      {
         font-family: 'oxygen';
      }
   }
   .select2-choice .select2-arrow b
   {
      background:none !important;
      background-color:#ffc539 !important;
   }
   .select2-choice .select2-arrow b:after,
   .select2-choices:after
   {
      content:'▼';
      font-family: Arial;
      font-size:19px;
      color:#fff;
      position:absolute;
      top:10px;
      right:9px;
      cursor:pointer;

   }
   .select2-choices .select2-search-choice {
      padding: 0px 18px 0px 5px;
      border:0px !important;
      border-radius:0px;
      background-color:transparent;
      font-family:'glober-sb';
      font-size:19px;
      color:#fff;
      line-height:38px;
      .logo {
         padding-top: 7px;
      }
   }
   .select2-chosen {
      padding: 0px 18px 0px 5px;
      border:0px !important;
      border-radius:0px;
      background-color:transparent;
      font-family:'glober-sb';
      font-size:19px;
      color:#fff;
      line-height:44px;
   }
   .select2-search {
      input
      {
         border: 1px solid #e7ebef;
         background:none !important;
         margin: 3px 0px 0px;
         font-family: 'dejavusans';
         font-size: 13px;
         color: #7b8483;
         &:lang(en)
         {
            font-family: 'oxygen';
         }
      }
   }
   &.select2-container-multi .select2-search-choice-close {
      left:auto;
     right:3px;
     background:none !important;
   }
   &.select2-container-multi .select2-choices .select2-search-field input {
      height:32px;
   }

}
.filter-c-bank
{
   &.select2-container-multi .select2-search-choice-close {
      left:auto;
      top:0px;
      right:2px;
   }
}
.select2-results::-webkit-scrollbar-track
{
background-color: #f1f2f2;
}
.select2-results::-webkit-scrollbar
{
   width: 16px;
   background-color: #f1f2f2;
}
.select2-results::-webkit-scrollbar-thumb
{
   background-color: #ffc539;
   border:0px;
   cursor:pointer;
}
.select2-results .select2-result {
   border:1px solid #e7ebef;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   margin:10px 10px;
   > div
   {
      display: talbe-row;
      > div
      {
         display: table-cell;
      }
      .flag
      {
         width:25px;
         padding:0px 5px;
      }
      .logo img
      {
         width:23px;
         height:23px;
         position: relative;
         top: 3px;
      }
      .abbr
      {
         font-family:'glober-sb';
         font-size:16px;
         color:#7b8483;
         width:50px;

      }
      .name
      {
         font-family:'dejavusans';
         font-size:13px;
         color:#7b8483;
         padding:0px 5px;
         &:lang(en)
         {
            font-family: 'oxygen';
         }
      }
      .vtop {
         vertical-align:top;
      }
      .vtop.name {
         padding: 6px 5px 0px;
      }
   }
  .select2-optgroup {
    font:15px 'dejavusans';
    font-weight:normal;
    color: #ffc539;
    padding: 10px 0 0 4px;
    &:lang(en)
    {
      font:16px 'oxygen';
    }
  }
}
.ui-datepicker {
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   padding:0px;
   border:0px;
   .ui-datepicker-header
   {
      background:none;
      background-color:#ffc539;
      -webkit-border-radius: 2px;
      -webkit-border-bottom-right-radius: 0px;
      -webkit-border-bottom-left-radius: 0px;
      -moz-border-radius: 2px;
      -moz-border-radius-bottomright: 0px;
      -moz-border-radius-bottomleft: 0px;
      border-radius: 2px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border:1px solid #ffc539;
      padding: 3px 0px;
      margin:0px;
      .ui-datepicker-next, .ui-datepicker-prev
      {
         background:none;
         background-color:transparent;
         border:0px;
         -webkit-border-radius: 0px;
         -moz-border-radius: 0px;
         border-radius: 0px;
         opacity:0.7;
         cursor:pointer;
      }
      .ui-datepicker-next
      {
         span { background-position: -32px -16px; margin-top: -11px;}
      }
      .ui-datepicker-prev
      {
         span { background-position: -96px -16px; margin-top: -11px; }
      }

      .ui-datepicker-title
      {
         font-family:'dejavusans';
         font-size:16px;
         color:#fff;
         &:lang(en)
         {
            font-family: 'oxygen';
         }
      }
   }
   .ui-datepicker-calendar
   {
      border:1px solid #c0c7cd;
      border-top:0px;
      -webkit-border-radius: 2px;
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -moz-border-radius: 2px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-topright: 0px;
      border-radius: 2px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin:0px 0px 5px;
      padding-bottom: 9px;
      border-collapse: separate;
      thead tr th
      {
         padding: .1em .1em;
         span
         {
            font-family:'dejavusans';
            font-size:13px;
            color:#7b8483;
            &:lang(en)
            {
               font-family: 'oxygen';
            }
         }
      }
      .ui-state-default
      {
         font-family:'dejavusans';
         font-size:11px;
         color:#ffc539;
         background:none;
         background-color:#fff;
         border:1px solid #f1f2f4;
         &:lang(en)
         {
            font-family: 'oxygen';
         }
      }
      .ui-state-active, .ui-state-default:hover
      {
         background-color:#f7f7f7;
         border:1px solid #c8ced3;
      }
   }
   .ui-datepicker-month,.ui-datepicker-year
   {
      font-family: 'dejavusans';
      font-size:15px;
      color:#7b8483;
      background-color:#ebeae6;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      border:0px;
      padding: 0px 0px 0px 10px;
      max-width: 80px;
      margin-right:10px !important;
      &:lang(en)
      {
         font-family: 'oxygen';
      }
   }
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

   .container
   {
      .header
      {
         max-width:768px;
         .box
         {
            // height:50px;
            margin: 15px 10px 0px !important;
            margin:0px;
            padding: 0px;
            .right.des
            {
               display:block;
            }
            .menu-toggle
            {
               display:none;
            }
         }
      }
      .content
      {

         min-width:768px;
         max-width:768px;
         .sub-line
         {
            display:block;
         }
         .tabs
         {
            position:relative;
            top:-12px;
            right:0px;
            display:block;
            text-align:center;
           .tab
            {
               display:inline-block;
               a
               {
                  padding: 2px 10px;
                  border:1px solid #c9cfd5;
               }
               a:hover, &.active a
               {
                  border:1px solid #ffc539;
               }
               &.active a:after,
               a:hover:after
               {
                  content:'▼';
                  font-family: Arial,Helvetica;
                  font-size:19px;
                  color:#ffc539;
                  position:absolute;
                  bottom: -18px;
                  left: 50%;
                  -webkit-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
               }
               &.mob
               {
                  display:none;
               }
            }

         }
        .page
         {
            .intro
            {
               width:80%;
               padding:10px 0px 20px 60px;
            }
            .calculator
            {
               .title
               {
                  margin-left:0px;
               }
               .block.calc
               {
                  > div
                  {
                     text-align:center;
                  }
                  .title
                  {
                     padding:9px 60px;
                     margin:0px 0px 32px;
                     &:lang(en)
                     {
                        white-space:nowrap;
                     }
                  }
                  .inp
                  {
                     .caption
                     {
                        padding:3px 0px 0px;
                        text-align:right;
                     }
                  }
                  .output
                  {
                     /* display:table;
                     border-spacing: 0px 10px;   */
                     .label
                     {
                        text-align:left;
                     }
                     .col
                     {
                        &:nth-of-type(2)
                        {
                           margin:0px 10px 0px 20px;
                        }

                        &.col-worth
                        {
                           margin-top:0px;
                           .vk
                           {
                              .value
                              {
                                 display:inline-block;
                                 width:auto;
                              }
                              .symbol
                              {
                                 display:inline-block;
                              }
                           }
                        }
                     }
                  }
               }
               .block.info
               {

                  width:100%;
                  margin:20px 0px 0px;
                  padding:0px;
                  display:table-cell;
                  border-collapse: separate;
                  border-spacing:10px;
                  > div
                  {
                      display:table-cell;
                  }
                   .sep
                  {
                     max-width: 100% !important;
                     max-height: 100% !important;
                     width: 1px;
                     margin: 0px 0px 10px 23px;
                  }
               }
               .output,.inp
               {
                  margin-left:90px;
               }
               .diff
               {
                  text-align:center;
                  .label
                  {
                     margin-bottom:0px;
                     text-align:right;
                  }
                  .vk
                  {
                     >div
                     {
                        display:inline-block;
                     }
                     .value
                     {
                        width:178px;
                     }
                  }
               }
            }
            .hsw
            {
               padding:0px;
               >div
               {
                  display:table-cell;
                  padding: 0px 10px;
               }
               .title
               {
                  white-space:nowrap;
               }
               .text
               {
                  position:relative;
                  top:-5px;
                  padding:0px;
               }
            }

            .about
            {
                padding:10px 60px 20px 60px;
            }
            .filters
            {
               margin:0px 0px 50px 40px;
               .box:nth-of-type(2)
               {
                  margin-left:20px;
               }
               .caption
               {
                  display:inline-block;

               }
               .select2-container
               {
                  min-width: 380px;
                  max-width: 380px;
               }
            }
         }

      }
   }
   .footer
   {
      .box
      {
         max-width:768px;
         padding:0px;
         margin: 30px 10px 10px;
         >div {
            display:table-cell;
            padding:0px;
         }
         .last-update
         {
            width:100%;
            border:0px;
            text-align:center;
         }
      }
   }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .container {
      .header
      {
         max-width:1024px;
         .box
         {
            margin:0px;
         }
      }
      .content
      {
         max-width:1024px;
         min-width:1024px;

         .tabs
         {
            display:block;
            text-align:right;
            padding-right: 40px;
           .tab
            {
               display:inline-block;
               &.mob
               {
                  display:none;
               }
               a
               {
                  padding: 2px 19px;
               }
            }
         }
         .page
         {
            > .title
            {
               margin:20px 0px 40px 40px;
            }
            .calculator
            {
               >div
               {
                  display:table-cell;
                  vertical-align: top;
                  margin-bottom: 0px;
               }
               .sep
               {
                  background:transparent url(/assets/svg/right_arrow.svg) left center no-repeat;
                  background-position:left 60px;
                  background-size:9px 12px;
                  width:19px;
                  height:12px;
               }
               .block.calc
               {
                  width:600px;
                  border-right: 1px solid #d7e0e7;
                  padding-right: 20px;
               }
               .block.info
               {
                  width:326px;
                  margin:0px;
                  padding: 20px 20px 30px;
                  > div
                  {
                     display:block;
                  }
                   .sep
                  {
                     max-width: 100% !important;
                     width: 180px;
                     height: 1px;
                     margin: 23px 0px 10px;
                  }
               }

            }
            .hsw
            {
               margin:20px 80px;
               >div
               {
                  padding: 0px 20px;
               }
            }

            .filters
            {
               display:block;
               .box
               {
                  display:inline-block;
                  > div
                  {
                     display:inline-block;
                  }
               }
            }

         }
      }
   }
   .footer
   {
      .box
      {
         max-width:1024px;
         margin: 30px 10px 10px;
      }
   }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .footer
   {
      .box
      {
         max-width:1024px;
         margin:30px auto 10px;
      }
   }
}
.chart {
 position:relative;
}
.chart.loader:after {
 display:inline-block;
 content:"";
 background:rgba(0,0,0,0.5) url(/assets/svg/loader.svg) no-repeat center/82px;
 position: absolute;
 top: 0;
 right:0;
 bottom:0;
 left:0;
 // display: none;
}

// ------------------------------
// .tabbox {
//   padding:0 !important;
//   margin:0;
  .nav-tabs {
    text-align:center;
    padding:10px 0 20px;
    > li {
      display:inline-block;
      a {
        font-family:'glober-sb';
        font-size:19px;
        color: #ffc539;
        padding:10px 30px 6px;
        border:1px solid #c1c8ce;
        border-radius:2px;
        text-decoration:none;
        &:hover {
          color:#fff;
          background-color:#ffc539;
          border:1px solid #ffc539;
          cursor:pointer;
        }
      }
      &.active a {
        color:#fff;
        background-color:#ffc539;
        border:1px solid #ffc539;
        cursor:pointer;
      }
    }
  }
  .tab-content {
    > div {
      display:none;
      &.active {
        display:block;
      }
    }
    .tab-pane#commercial-convertor {
      .table {
        padding:30px 20% 0;
        background-color:#f1f2f2;
        // display:table;
        .row {
          width:100%;
          display:table-row;
        }
        .column {
          display:table-cell;
          // padding:6px 10px;
          white-space:nowrap;
          vertical-align:middle;
          &:first-of-type {
            width:100%;
            max-width:300px;
          }
          > div {
            display:inline-block;
          }
          // &:last-of-type {
          //   white-space:nowrap;
          // }
          &.bottom-line {
            border-bottom:1px solid #c1c8ce;
          }
          // > div { display:inline-block; }
        }
        .picker {
         .box { width:100%;}
          .input {
            display:table;
            width:100%;
            input {
              display:table-cell;
              font:22px/22px 'glober-sb';
              text-align:right;
              color:#7b8483;
              padding:0 12px;
              background-color:#fff;
              border:1px solid #ffc539;
              border-radius:0;
              border-top-left-radius: 2px;
              border-bottom-left-radius: 2px;
              height:40px;
              width: 100%;
              box-sizing: border-box;
            }
            .select2-container {
              display:table-cell;
              .select2-choice, .select2-choices {
                border-radius:0;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                height: 40px;
                .select2-arrow {
                  top: -3px;
                }
              }
            }
          }
          .select2-container {
            min-width: 80px;
          }
          // .dropdown-width-small {
          //   width:200px;
          // }
          #convertor_swap {
            border:1px solid #c9cfd5;
            background:#fff url(/assets/svg/swap.svg) center center no-repeat;
            height:28px;
            width:28px;
            border-radius:2px;
            vertical-align: bottom;
            position: relative;
            bottom: 3px;
            margin: 0 12px 0 18px;
            &:hover {
              background:#fff url(/assets/svg/swap_hover.svg) center center no-repeat;
              border:1px solid #ffc539;
              cursor:pointer;
            }
          }
           #convertor_to {
            display:inline-block;
            font:19px/20px 'glober-sb';
            color:#fff;
            padding:10px 8px 6px;
            background-color:#ffc539;
            border-radius:2px;
          }
        }
        .heading {
          font:16px/20px 'dejavusans';
          color: #7b8483;
          text-align:left;
          padding: 6px 10px 0px;
          &:lang(en) { font-family:'oxygen'; }
          #buying_label {
            padding:30px 0 0 10px;
          }
        }
        .caption {
          display:block;
          font:16px/20px 'dejavusans';
          color: #7b8483;
          text-transform: initial;
          padding-bottom: 2px;
          &:lang(en) { font-family:'oxygen'; }
        }
        .row.bank {
          .key {
            padding: 14px 0px 14px;
            width:100%;
            border-bottom: 1px solid #c1c8ce;

            &:lang(en) { font-family:'oxygen'; }
            img {
              width:34px;
              height:34px;
              margin:0 16px 0 0;
              padding:0px;
              float: left;
            }
            label {
              font:16px/20px 'dejavusans';
              color: #7b8483;
            }
          }
          .value {
            padding: 10px 0 10px 10px;
            border-bottom: 1px solid #c1c8ce;
            text-align: right;
            span {
              font:20px 'glober-sb';
              text-align:left;
              color:#7b8483;
              padding:10px 12px 6px;
              background-color:#fff;
              border:1px solid #c1c8ce;
              display:inline-block;
              min-width:100px;
            }
          }
          .rate {
            padding: 0px 0 0 4px;
            font:12px 'glober-sb';
            color:#7b8483;
            position: relative;
            top: -14px;
          }
          &.first {
            .value span, .rate {
              color:#ffc539;
            }
          }
          &.last {
            .key, .value {
              border:0;
            }
          }
        }
      }
    }
  }
// }
